body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

#map {
    width: 80%;
    height: 500px;
    margin-bottom: 20px;
}

#toilets-section, #weather-section {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}

#weather-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

#weather {
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    height: 400px;
    overflow-y: auto;
}